*{
    margin: 0%;
    padding: 0%;
}
#encabezado{
    width: 100%;
    height: 100%;
background-color: purple;
}
#encabezado img{
    float: left;
    width:100px ;
    height: 70px;
    background-color: purple;
}

#menu{
    width: 100%;
    height: 100%;
    padding: 20px;
    border:1px black;
    background-color: rgb(68, 65, 65);
}
nav li{
    margin-top: 10px;
    padding: 10px;
    display: inline-block;
}
.areaPrincipal{
    width: 100%;
    height: 100%;
    background-color: blueviolet;
    background-size: 100% 100%;
    background-image: 100px 200px;

}
.areaPrincipal img{
    background-position: center;
}
